/* SECTION */
.about-section {
  padding: 80px 0;
  background: linear-gradient(to right, #05080f, #0b1420);
}

/* CONTAINER */
.about-container {
  width: 90%;
  margin: auto;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
}

/* LEFT */
.about-left {
  flex: 1;
}
.image-box {
  position: relative;
  width: 100%;
  max-width: 600px;
}

.image-box img {
  width: 100%;
  border-radius: 15px;
    display: block;
}

/* CONTENT BOX */
.content-box {
  display: none;
  background: #121826;
  padding: 25px;
  border-radius: 10px;
  color:white;
}

/* RIGHT */
.about-right {
  flex: 1;
}

.about-right h1 {
  font-size: 42px;
  margin-bottom: 10px;
  color:white;
}

.about-right p {
  color: #ccc;
  margin-bottom: 15px;
}

.about-right a {
  color: #00c6ff;
  text-decoration: none;
}
.overlay-card {
  position: absolute;
  bottom: 20px;
  right: 20px;

  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(10px);

  padding: 20px;
  border-radius: 10px;
  width: 250px;

  color: white;
  box-shadow: 0 10px 25px rgba(0,0,0,0.5);

  animation: fadeUp 0.8s ease;
}

.overlay-card h2 {
  color: #00c6ff;
  margin-bottom: 8px;
}

.overlay-card p {
  font-size: 14px;
  color: #ccc;
}

/* ANIMATION */
@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* MENU */
.menu {
  margin-top: 30px;
  
}

.about-item {
  padding: 15px 0;
  border-bottom: 1px solid #2a2f3a;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  color: white;
  transition: 0.3s;
}

.about-item:hover {
  color: #00c6ff;
  transform: translateX(8px);
}

/* RESPONSIVE */
@media(max-width:900px){
  .about-container {
    flex-direction: column;
  }
}
